<div class="horizontal-icons">
  <div class="icon-container">
    <img src="calendar-icon.svg" alt="Calendar icon" (click)="openCalendar()" />
  </div>
  <div class="icon-container">
    <img src="clock-icon.svg" alt="Clock icon" (click)="openClock()" />
  </div>
  <div class="icon-container">
    <img src="location-icon.svg" alt="Location icon" (click)="openMap()" />
  </div>
  <div class="icon-container">
    <img src="phone-icon.svg" alt="Phone icon" (click)="openPhone()" />
  </div>
  <div class="icon-container">
    <img src="note-icon.svg" alt="Note icon" (click)="openNote()" />
  </div>
</div>
